* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inclusive Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
    height: 100vh;
    grid-template-areas:
        "header search"
        "header productos"
        "footer pager";
    border-style: solid;
    border-color: green;
}

.header-left {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    border-style: solid;
    border-color: red;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: darkolivegreen;
    gap: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.menu a:hover {
    color: #BFBFBF;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: coral;
    gap: 10px;
}

.search {
    grid-area: search;
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.products {
    grid-area: productos;
    align-items: center;
    gap: 10px;
    background-color: burlywood;
    border-style: solid;
    border-color: blue;
}

.products-grid {
    grid-area: productos;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cards img {
    width: 300px;
    border-radius: 5px;
}

.cards h2 {
    font-size: 24px;
    font-weight: 500px;
    text-align: center;
}

.cards {
    display: flex;

}

.info {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.description {
    font-size: 18px;
    font-weight: 300px;
}

.price {
    font-size: 20px;
    font-weight: 500px;
    color: red;
}

.button-arriendo {
    /* width: 100%; */
    margin-top: 10px;
}

.button-arriendo a {
    display: flex;
    text-decoration: none;
    color: #fff;
    background-color: rgb(14, 14, 151);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-arriendo a:hover {
    background-color: #4A5977;
}

.paginas {
    grid-area: pager;
    background-color: rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    padding: 20px;
    bottom: 0;
    right: 0;
}

.buttons {
    display: flex;
    gap: 5px;
}

.button {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(156, 156, 156);
    background-color: #F0EFEC;
    justify-content: center;
    align-items: center;
}

